<header>
  <% if (typeof(consentUrl) !== 'undefined' && consentUrl && typeof(authenticated) !== 'undefined') { %>
    <a href="<%= consentUrl %>">
      <img src='https://developer.xero.com/static/images/documentation/ConnectToXero2019/connect-blue.svg'>
    </a>
  <% } else{ %>  
    <a href='/'><img src='https://www.xero.com/etc/designs/xero-cms/clientlib/assets/img/logo/logo-xero-blue.svg'></a>
  <% } %>
</header>