<nav class='left-banner menu-items'>
  <ul>
    <h2><img style='width: 30px; margin-right: 10px;'
        src="https://cdn.iconscout.com/icon/free/png-512/typescript-1174965.png" /><a href="/">Home</a></h2>
    <hr>
    <h4 class='api-section' data-api='accounting-api'>Accounting <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='accounting-api'>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/budgets">Budgets</a></li>
      <li><a href="/banktransactions">Bank Transactions</a></li>
      <li><a href="/banktranfers">Bank Transfers</a></li>
      <li><a href="/batchpayments">Batch Payments</a></li>
      <li><a href="/brandingthemes">Branding Themes</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/contactgroups">Contact groups</a></li>
      <li><a href="/creditnotes">Credit notes</a></li>
      <li><a href="/currencies">Currencies</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/invoices">Invoices</a></li>
      <li><a href="/invoice-as-pdf">Invoice (as PDF)</a></li>
      <li><a href="/invoices-filtered">Invoices (filtered)</a></li>
      <li><a href="/attachment-invoice">Invoices (Attach File)</a></li>
      <li><a href="/invoicereminders">Invoice Reminders</a></li>
      <li><a href="/invoice-attachments">Invoice Attachments</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/journals">Journals</a></li>
      <li><a href="/linked-transactions">Linked Transactions</a></li>
      <li><a href="/manualjournals">Manual Journals</a></li>
      <li><a href="/organisations">Organisation</a></li>
      <li><a href="/overpayments">Over payments</a></li>
      <li><a href="/paymentservices">Payment Services</a></li>
      <li><a href="/payments">Payments</a></li>
      <li><a href="/prepayments">Pre Payments</a></li>
      <li><a href="/purchaseorders">Purchase Orders</a></li>
      <li><a href="/purchase-order-as-pdf">Purchase Orders (as PDF)</a></li>
      <li><a href="/quotes">Quotes</a></li>
      <li><a href="/receipts">Receipts</a></li>
      <li><a href="/repeating-invoices">Repeating Invoices</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/taxrates">Tax Rates</a></li>
      <li><a href="/trackingcategories">Tracking Categories</a></li>
      <li><a href="/users">Users</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='assets-api'>Assets <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='assets-api'>
      <li><a href="/assets">Assets</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='projects-api'>Projects <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='projects-api'>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/project-users">Users</a></li>
      <li><a href="/tasks">Tasks</a></li>
      <li><a href="/time">Time</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='payroll-au-api'>Payroll (AU) <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='payroll-au-api'>
      <li><a href="/payroll-au-employees">Employees</a></li>
      <li><a href="/leave-application">Leave Application</a></li>
      <li><a href="/pay-item">Pay Item</a></li>
      <li><a href="/pay-run">Pay Run</a></li>
      <li><a href="/payroll-calendar">Payroll Calendar</a></li>
      <li><a href="/superfund">Superfund</a></li>
      <li><a href="/timesheet">Timesheet</a></li>
      <li><a href="/payslip">PaySlip</a></li>
      <li><a href="/payroll-au-settings">Payroll Settings</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='payroll-nz-api'>Payroll (NZ) <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='payroll-nz-api'>
      <li><a href="/payroll-nz-deductions">Deductions</a></li>
      <li><a href="/payroll-nz-earnings-rates">Earnings Rates</a></li>
      <li><a href="/payroll-nz-employees">Employees</a></li>
      <li><a href="/payroll-nz-employment">Employment</a></li>
      <li><a href="/payroll-nz-employees-leave">Employees Leave</a></li>
      <li><a href="/payroll-nz-leave-balances">Leave Balances</a></li>
      <li><a href="/payroll-nz-employees-leave-periods">Employees Leave Periods</a></li>
      <li><a href="/payroll-nz-employees-leave-setup">Employees Leave Setup</a></li>
      <li><a href="/payroll-nz-employees-leave-types">Employees Leave Types</a></li>
      <li><a href="/payroll-nz-employees-opening-balances">Employees Opening Balances</a></li>
      <li><a href="/payroll-nz-payment-methods">Payment Methods</a></li>
      <li><a href="/payroll-nz-employees-pay-templates">Pay Templates</a></li>
      <li><a href="/payroll-nz-salary-wages">Salary and Wages</a></li>
      <li><a href="/payroll-nz-employees-tax">Employees Tax</a></li>
      <li><a href="/payroll-nz-leave-types">Leave Types</a></li>
      <li><a href="/payroll-nz-pay-run-calendars">Pay Run Calendars</a></li>
      <li><a href="/payroll-nz-pay-runs">Pay Runs</a></li>
      <li><a href="/payroll-nz-pay-slips">Pay Slips</a></li>
      <li><a href="/payroll-nz-reimbursements">Reimbursements</a></li>
      <li><a href="/payroll-nz-settings">Settings</a></li>
      <li><a href="/payroll-nz-tracking-categories">Tracking Categories</a></li>
      <li><a href="/payroll-nz-timesheets">Timesheets</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='payroll-uk-api'>Payroll (UK) <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='payroll-uk-api'>
      <li><a href="/payroll-uk-employees">Employees</a></li>
      <li><a href="/employment">Employment</a></li>
      <li><a href="/employees-tax">Employees Tax</a></li>
      <li><a href="/employee-opening-balances">Employee Opening Balances</a></li>
      <li><a href="/employees-leave">Employees Leave</a></li>
      <li><a href="/employees-leave-balances">Employees Leave Balances</a></li>
      <li><a href="/employees-statutory-leave-balances">Employees Statutory Leave Balances</a></li>
      <li><a href="/employees-statutory-leave-summary">Employees Statutory Leave Summary</a></li>
      <li><a href="/employees-statutory-sick-leave">Employees Statutory Sick Leave</a></li>
      <li><a href="/employees-leave-periods">Employees Leave Periods</a></li>
      <li><a href="/employees-leave-types">Employees Leave Types</a></li>
      <li><a href="/employees-pay-templates">Employees Pay Templates</a></li>
      <li><a href="/employer-pensions">Employer Pensions</a></li>
      <li><a href="/deductions">Deductions</a></li>
      <li><a href="/earnings-orders">Earnings Orders</a></li>
      <li><a href="/earnings-rates">Earnings Rates</a></li>
      <li><a href="/leave-types">Leave Types</a></li>
      <li><a href="/reimbursements">Reimbursements</a></li>
      <li><a href="/timesheets">Timesheets</a></li>
      <li><a href="/payment-methods">Payment Methods</a></li>
      <li><a href="/pay-run-calendars">Pay Run Calendars</a></li>
      <li><a href="/salary-wages">Salary and Wages</a></li>
      <li><a href="/pay-runs">Pay Runs</a></li>
      <li><a href="/payslips">Payslips</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/tracking-categories">Tracking Categories</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='files-api'>Files <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='files-api'>
      <li><a href="/folders">Folders</a></li>
      <li><a href="/files">Files</a></li>
      <li><a href="/files-associations">Associations</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='bankfeeds-api'>Bankfeeds (private) <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='bankfeeds-api'>
      <li><a href="/bankfeed-connections">Connections</a></li>
      <li><a href="/bankfeed-statements">Statements</a></li>
    </div>
    <hr>
    <h4 class='api-section' data-api='finance-api'>Finance (private) <span class='open-caret'>></span><span class='closed-caret'>^</span></h4>
    <div class='nav-section' id='finance-api'>
      <li><a href="/accounting-activity">Accounting Activity</a></li>
      <li><a href="/cash-validation">Cash Validation</a></li>
      <li><a href="/financial-statement">Financial Statement</a></li>
      <li><a href="/bank-statements-plus">Bank Statements Plus</a></li>
    </div>
  </ul>
</nav>


<script>
  $(document).ready(function(){
    $(".api-section").click(function(e) {   
      e.target.classList.toggle("checked");
      $('#' + e.target.getAttribute('data-api')).toggleClass("open-nav");
      e.stopPropagation();
    });
  });
</script>