<nav class='left-banner menu-items'>
  <ul>
    <h2><a href="/">Home</a></h2>
    <hr>
    <h4 style='margin-bottom: 20px;'>ACCOUNTING:</h4>
    <li><a href="/accounts">Accounts</a></li>
    <li><a href="/banktransactions">Bank Transactions</a></li>
    <li><a href="/banktranfers">Bank Transfers</a></li>
    <li><a href="/batchpayments">Batch Payments</a></li>
    <li><a href="/brandingthemes">Branding Themes</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/contactgroups">Contact groups</a></li>
    <li><a href="/creditnotes">Credit notes</a></li>
    <li><a href="/currencies">Currencies</a></li>
    <li><a href="/employees">Employees</a></li>
    <li><a href="/expenseclaims">Expense Claims</a></li>
    <li><a href="/invoices">Invoices</a></li>
    <li><a href="/invoice-as-pdf">Invoice (as PDF)</a></li>
    <li><a href="/invoices-filtered">Invoices (filtered)</a></li>
    <li><a href="/attachment-invoice">Invoices (Attach File)</a></li>
    <li><a href="/invoicereminders">Invoice Reminders</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/journals">Journals</a></li>
    <li><a href="/manualjournals">Manual Journals</a></li>
    <li><a href="/organisations">Organisation</a></li>
    <li><a href="/overpayments">Over payments</a></li>
    <li><a href="/paymentservices">Payment Services</a></li>
    <li><a href="/payments">Payments</a></li>
    <li><a href="/prepayments">Pre Payments</a></li>
    <li><a href="/purchaseorders">Purchase Orders</a></li>
    <li><a href="/quotes">Quotes</a></li>
    <li><a href="/receipts">Receipts</a></li>
    <li><a href="/reports">Reports</a></li>
    <li><a href="/taxrates">Tax Rates</a></li>
    <li><a href="/trackingcategories">Tracking Categories</a></li>
    <li><a href="/users">Users</a></li>
    <hr>
    <li><a href="/assets">Assets</a></li>
  </ul>
</nav>
