<nav class='left-banner menu-items'>
  <ul>
    <h2><img style='width: 30px; margin-right: 10px;' src="https://cdn.iconscout.com/icon/free/png-512/typescript-1174965.png"/><a href="/">Home</a></h2>
    <hr>
    <div class='nav-section toggle-accounting'>
      <h4>ACCOUNTING:</h4>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/banktransactions">Bank Transactions</a></li>
      <li><a href="/banktranfers">Bank Transfers</a></li>
      <li><a href="/batchpayments">Batch Payments</a></li>
      <li><a href="/brandingthemes">Branding Themes</a></li>
      <li><a href="/contacts">Contacts</a></li>
      <li><a href="/contactgroups">Contact groups</a></li>
      <li><a href="/creditnotes">Credit notes</a></li>
      <li><a href="/currencies">Currencies</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/invoices">Invoices</a></li>
      <li><a href="/invoice-as-pdf">Invoice (as PDF)</a></li>
      <li><a href="/invoices-filtered">Invoices (filtered)</a></li>
      <li><a href="/attachment-invoice">Invoices (Attach File)</a></li>
      <li><a href="/invoicereminders">Invoice Reminders</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/journals">Journals</a></li>
      <li><a href="/linked-transactions">Linked Transactions</a></li>
      <li><a href="/manualjournals">Manual Journals</a></li>
      <li><a href="/organisations">Organisation</a></li>
      <li><a href="/overpayments">Over payments</a></li>
      <li><a href="/paymentservices">Payment Services</a></li>
      <li><a href="/payments">Payments</a></li>
      <li><a href="/prepayments">Pre Payments</a></li>
      <li><a href="/purchaseorders">Purchase Orders</a></li>
      <li><a href="/quotes">Quotes</a></li>
      <li><a href="/receipts">Receipts</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/taxrates">Tax Rates</a></li>
      <li><a href="/trackingcategories">Tracking Categories</a></li>
      <li><a href="/users">Users</a></li>
    </div>
    <hr>
    <h4>ASSETS:</h4>
    <div class='nav-section'>
      <li><a href="/assets">Assets</a></li>
    </div>
    <hr>
    <h4>PROJECTS:</h4>
    <div class='nav-section'>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/project-users">Users</a></li>
      <li><a href="/tasks">Tasks</a></li>
      <li><a href="/time">Time</a></li>
    </div>
    <hr>
    <h4>PAYROLL (AU):</h4>
    <div class='nav-section'>
      <li><a href="/payroll-au-employees">Employees</a></li>
      <li><a href="/leave-application">Leave Application</a></li>
      <li><a href="/pay-item">Pay Item</a></li>
      <li><a href="/pay-run">Pay Run</a></li>
      <li><a href="/payroll-calendar">Payroll Calendar</a></li>
      <li><a href="/superfund">Superfund</a></li>
      <li><a href="/timesheet">Timesheet</a></li>
      <li><a href="/payslip">PaySlip</a></li>
      <li><a href="/payroll-au-settings">Payroll Settings</a></li>
    </div>
    <hr>
    <h4>BANKFEEDS (Restricted):</h4>
    <div class='nav-section'>
      <li><a href="/bankfeed-connections">Connections</a></li>
      <li><a href="/bankfeed-statements">Statements</a></li>
    </div>
  </ul>
</nav>