<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Contact Groups</title>
  <meta name="description" content="callback template">
  <meta name="author" content="XeroAPI">
</head>

<body>
    <h1>xero-node-app</h1>
    <p>Contact Groups success: Count: <%= count %></p>
    <%- include('nav') -%>
</body>
</html>