extends default

block content
  div.container
    each invoice in invpoices
      div.person
        h2.person-name
          | #{invoice.invoiceID} #{invoice.invoiceNumber}
        a(href=`/profile?id=${invoice.invoiceID}`)
          | View Profile