<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Payment Services</title>
  <meta name="description" content="callback template">
  <meta name="author" content="XeroAPI">
</head>

<body>
    <h1>xero-node-app</h1>
    <p>Payment Services success: Count: <%= count %></p>
    <%- include('shared/nav') -%>
</body>
</html>