* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}
textarea {
  font-size: 16px;
  width: 100%;
}
hr {
  margin-bottom: 15px;
}
h3 {
  margin-top: 0px;
}
button {
  text-shadow: 0 0.125rem 0.1875rem rgba(0,0,0,.1);
  color: #FFF;
  background-color: #21A623;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;;
  font-size: 16px;
  letter-spacing: 1px;;
  cursor: pointer;
}

.btn-success {
  background: #00a3d3;
}

.series-font {
  box-sizing: border-box;
  font-family: 'Courier New';
  letter-spacing: 3px;
  font-weight: 600;
  margin: 10px;
}
.body-wrapper {
  margin: 20px;
  box-shadow: 3px 3px 3px 2px #ccc;
  padding: 20px;
  float: left;
}
.left-banner {
  background-color: #32465A;
  flex: 1;
}
.menu-items, .menu-items a {
  color: white;
  text-decoration: none;
}
.menu-items li:hover {
  text-decoration: underline;
}
.menu-items li {
  margin-bottom: 15px;
  list-style: none;
}
.menu-items .active {
  text-decoration: underline;
  font-weight: bold;
}
.menu-items h1 {
  margin-left: -20px;
  margin-top: 45px;
}
.core-content {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.auth-notification {
  color: red;
  font-size: 20px;
  padding: 20px;
  float: left;
  width: 100%;
}
header {
  background: #00a3d3;
  height: 85px;
}
header, nav {
  padding: 1.5em;
}
