<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
            <a href='https://developer.xero.com/documentation/assets-api/overview' target='_blank'>
              <h4>https://developer.xero.com/documentation/assets-api/overview</h4>
            </a>
            <p><strong>Get All Assets:</strong> <%= assets %></p>
        </div>
      </div>
    </div>
  </body>
</html>
