<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <a href='https://developer.xero.com/documentation/api/attachments' target='_blank'>
            <h4>Attachments</h4>
          </a>
          <pre>
            <code class='language-javascript'><%- JSON.stringify(attachments, null, 2) %></code>
          </pre>
        </div>
      </div>
    </div>
  </body>
</html>
