<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <%- include('shared/header') -%>
    <div class='body-wrapper'>
      <div class='body-content'>
        <p><strong>Get Employee Statutory Sick Leave:</strong> `TODO sick leave`</p>
      </div>
    </div>
  </div>
</body>

</html>