<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>Pay Calendars:</strong>
          <ul>
            <% for(var i=0; i < getPayrollCalendars.length; i++) { %>
              <li><%- JSON.stringify(getPayrollCalendars[i], null, 2).replace(/[{}]/g, '') %></li>
              <br>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
