<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <%- include('shared/header') -%>
      <div class='body-wrapper'>
        <div class='body-content'>
          <p><strong>Payslips:</strong> `TODO payslips`</p>
        </div>
      </div>
    </div>
  </body>
</html>
